[submodule "lib/micropython-cbor"]
	path = lib/micropython-cbor
	url = git@github.com:alexmrqt/micropython-cbor.git
[submodule "lib/py-dtn7"]
	path = lib/py-dtn7
	url = git@github.com:teschmitt/py-dtn7.git
