[submodule "lib/micropython-cbor"]
	path = lib/micropython-cbor
	url = https://github.com/alexmrqt/micropython-cbor.git
[submodule "lib/py-dtn7"]
	path = lib/py-dtn7
	url = https://github.com/teschmitt/py-dtn7.git
